{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
      <h2 class="govuk-heading-s">Court of Protection</h2>
      <h2 class="govuk-heading-m">Basic Information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['availableforms'] }} 
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="2basicinfo">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{data['firstname'] }} {{data['lastname'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a href="2basicinfo">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['caseref'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="2basicinfo">
              Change
              <span class="govuk-visually-hidden"> case reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="2basicinfo">
              Change
              <span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-s">Court of Protection</h2>
      <h2 class="govuk-heading-m">Notice of Hearing</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of person to be notified
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['cop-nohname'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="3COP-NOH">
              Change
              <span class="govuk-visually-hidden"> prerson to be notified</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['cop-nohaddress'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="3COP-NOH">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        <br><br>
        <h2 class="govuk-heading-m">Details of the case</h2>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case Reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['cop-nohcaseref'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="3COP-NOH">
              Change
              <span class="govuk-visually-hidden"> case number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Applicant
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['cop-nohapplicant'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="3COP-NOH">
              Change
              <span class="govuk-visually-hidden"> applicant</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person to whom the applicant relates
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['cop-nohperson'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="3COP-NOH">
              Change
              <span class="govuk-visually-hidden"> person application relates to</span>
            </a>
          </dd>
        </div>
      <br><br>  
      <h2 class="govuk-heading-m">Details of the hearing</h2>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['cop-nohdate'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="3COP-NOH">
            Change
            <span class="govuk-visually-hidden"> hearing date</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Time
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['cop-nohtime'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="3COP-NOH">
            Change
            <span class="govuk-visually-hidden"> hearing timed</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['cop-nohlocation'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="3COP-NOH">
            Change
            <span class="govuk-visually-hidden"> location</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hearing Type
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['cop-nohhearingtype'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="3COP-NOH">
            Change
            <span class="govuk-visually-hidden"> hearing type</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other Hearing Type
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['cop-nohhearingother'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="3COP-NOH">
            Change
            <span class="govuk-visually-hidden"> other hearing type</span>
          </a>
        </dd>
      </div>
    </dl>
    <br><br>
      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
